html {
  font-family: 'Circular Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212836;
}

body {
  margin: 0 auto;
  background: url('https://cdn.suwalls.com/wallpapers/animals/bears-in-the-foggy-forest-53275-1920x1080.jpg');
  background-attachment: fixed;
  box-shadow: inset 0px 0px 0px 10000px rgba(0, 0, 0, 0.6);
  padding: 50px;
}

.bg-white {
  background: white;
}

.rounded {
  border-radius: 5px;
}

.p-3 {
  padding: 30px;
}

.mt-0 {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.page {
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
}
